body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    background: #fdf6e3;
}
a {
    color: #002b36 !important;
    text-decoration: none !important;
    transition: 250ms;
}
a:hover,
a:focus {
    color: #001f3f !important;
}
#page {
    max-width: 1080px;
    margin: auto;
    padding: 20px;
}
img {
    max-width: 100%;
    border: 1px solid #93a1a1;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
}
tr,
th,
td {
    font-size: 12px;
}
td,
th {
    padding: 12px;
    background: #657b83;
    border: 1px solid #073642 !important;
}
th {
    font-weight: bold;
    border-right-width: 3px !important;
    color: #073642;
    background-color: #93a1a1;
}
table:not(.sub) tr:nth-of-type(2n+1) {
    background-color: #839496;
}
table:not(.sub) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
th.label {
    width: 110px;
}
td.content {
    width: 190px;
}
table.sub {
    width: 100%;
}
table.sub td {
    background: #586e75;
}

#total {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#total .content {
    max-width: 100%;
    width: 300px;
}
#total th, #total td {
    font-size: 15px;
}

@media only screen and (max-width: 760px) {
    table:not(.sub) {
        justify-content: space-around;
    }
}